<%= form_for [conversation, message] do |f| %>
  <div class=”field”>
   <%= f.text_area :body, placeholder: "Type your message here", class: "message-field" %>
  </div>
  <div>
   <%= f.button '', {class: 'button postfix'} do %><i class="fa fa-paper-plane"></i><% end %>
  </div>
 <% end %>
