// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our colors for Helpal!
$black-text: #000000;
$yellow-stars: #FCCE3A;
$red-cta: #F94C50;
$white: #FFFFFF;
$footer: #F2D5BB;
$green-bg: #EAF0EC;
$blue-bg: #9AD7E9;
