#category-request-page {
  display: flex;
  height: 100vh;
}

#category-index-body {
  background-color: #9AD7E9;
  width: 60%;
  height: 100vh;
}

.search-bar-cat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.location-update {
  text-align: center;
  display: inline-block;
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container-category-cards {
  justify-items: center;
  padding: 15px;
  width: auto;
  height: 100%;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}

.category-card {
  display: flex;
  justify-content: center;
  width: 10vw;
  background-color: $white;
  border: 1px solid #b9bfbb;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #b9bfbb;
  align-items: center;
}

.category-card:hover {
  box-shadow: 2px 2px 2px rgba(94, 97, 95, 0.8);
}

.category-card span {
  text-align: center;
}

.title-index {
  text-align: center;
  color: white;
}

.title-index h1 {
  padding-top: 40px;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.login_before_request {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px;
  background-color: white;
  margin-top: 60px;
}


.change-border-color {
  border: 2px solid rgba(249, 76, 80, 0.7);
  border-radius: 5px;
 }

.name_cat_card {
  padding-left: 8px;
}


/*----------CSS MEDIA----------*/
/*-----------------------------*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */

}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .category-card {
    width: 100%;
  }
  .container-category-cards {
  justify-items: center;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  #category-request-page {
    display: block;
  }

  .title-index h1 {
    font-size: 24px;
  }

  .title-index h2 {
    font-size: 16px;
  }
  .category-card {
    width: 100%;
    height: 50px;
  }

  .container-category-cards {
  justify-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2px;
  grid-auto-rows: minmax(35%, auto);
  padding-left: 5px;
  padding-right: 5px;
  }

  #category-index-body {
  background-color: #9AD7E9;
  width: 100%;
  }

  #cat-submit {
    margin-left: 11px;
  }
  .search-bar-cat {
    display: block;

}
  .search-input {
    width: 100px;
  }

  #form-city {
    width: 100%;
  }
}


