.user-info {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-top: 20px;
  padding: 15px 25px;
}

.user-info h3, a {
  text-align: center;
}

.user-info img {
  height: 75px;
  width: 75px;
}

.user-info a {
  margin-bottom: 7px;
}

.user-category-tags {
  display: flex;
  flex-flow: wrap;

}

.user-category-tags span {
  background-color: $blue-bg;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 4px;
  text-align: center;
}

.user-reviews {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 15px 25px;
}

.about-me {
  background-color: white;
  border-radius: 5px;
  padding: 15px 25px;
  margin: 20px;
}

.profile-right-side {
  width: 75%;
}

.profiles {
  display:flex;
}

.fa-star {
  color: $yellow-stars;
}

.stars {
  text-align: right;
}
