.user-info {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-top: 20px;
  padding: 15px 25px;
}

.user-info h3, a {
  text-align: center;
}

.user-info a {
  margin-bottom: 7px;
}

.user-reviews {
  float: right;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 20px;
  padding: 15px 25px;
}

.about-me {
  float: right;
  background-color: white;
  border-radius: 5px;
  padding: 15px 25px;
  width: 60%;
}
