.new-request-container {
  width: auto;
  height: 100vh;
}

.request-new-wrapper {
  width: 40vw;
}
.request-new-wrapper h3 {
  margin-top: 40px;
  margin-left: 60px;
}

.new-form {
  margin: 20px 60px 0px 60px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.form-input {
  margin: 10px 0px;
}
.category-selected {
  height: 40px;
  width: 100px;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  &.blue-back {
    background-color: $blue-bg;
  }
}

.no-category-selected {
   color: $red-cta;
}
.no-location-selected {
  padding-top: 8px;
  color: $red-cta;

}

/*----------CSS MEDIA----------*/
/*-----------------------------*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */

}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */

}


@media (max-width: 540px) {
  .container-show-request {
  margin-top: 20px;
  }

  .new-form {
    width: 80%;
    margin: 20px;
  }

  .request-new-wrapper {
    width: 100%;
    margin-left:20px;
  }
  .request-new-wrapper h3 {
    margin-left: 20px;
  }
}
