.new-form {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 20px;
  width: 50%;
  border-radius: 5px;
}

.category-selected {
  background-color: $blue-bg;
  height: 40px;
  width: 100px;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: left;
}

.no-category-selected {
  color: $red-cta;
  margin-bottom: 15px;
}

