.new-request-container {
  width: auto;
  height: 100vh;
}

.request-new-wrapper {
  width: 40vw;
}
.request-new-wrapper h3 {
  margin-top: 40px;
  margin-left: 60px;
}

.new-form {
  margin: 20px 60px 0px 60px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.form-input {
  margin: 10px 0px;
}
.category-selected {
  height: 40px;
  width: 100px;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  &.blue-back {
    background-color: $blue-bg;
  }
}

.no-category-selected {
   color: $red-cta;
}
.no-location-selected {
  padding-top: 8px;
  color: $red-cta;

}

