.container-show-request {
  margin-top: 60px;
}

.wrapper-request {
  height: 100%;
  background-color: white;
  margin-top: 60px;
  padding: 15px 30px 15px;
}

.request-status-info {
  display: flex;
  justify-content: flex-end;
}

.request-title-show-wrapper {
  margin-bottom: 15px;
}

.request-title-show-wrapper h1 {
  font-family: $headers-font;
  font-size: 36px;
  font-weight: 400;
}

.request-title-show-wrapper p {
  font-size: 24px;
  font-weight: 700;
}

.date {
  display: flex;
}

.fa-map-marker-alt {
  font-size: 1rem;
  color: $gray;
  margin-right: 10px;
}

.request-category-tag {
  width: 8vw;
  border-radius: 5px;
  background-color: $blue-bg;
  padding: 10px 15px;
  margin: 4px 4px 30px 4px;
  text-align: center;
}

.request-description-field {
  margin-bottom: 60px;
}


.edit-btn {
  margin-right: 10px;
  margin-left: 30px;
}

#request-status-show {
  text-align: right;
  background-color: $light-gray;
  padding: 7px;
  border-radius: 5px;
  position: relative;
  right: 14px;
  top: 14px;
}

.assigned-to-avatar {
  display: flex;
  align-items: center;
}

.helper-name {
  margin-left:10px;
  text-decoration:none
}

.pending-messages {
  display:flex;
}

.pending-messages a{
color: $black-text;
text-decoration: none;
}

.pending-messages a:hover {
color: #737774;
text-decoration: none;
}

.request-helper-buttons {
  display: flex;
  justify-content: space-between;
}

.request-show-btn {
  display: flex;
  justify-content: flex-end;
}
