.page-title {
  margin-top: 60px;
  text-align: center;
}

.container .small-title {
  font-size: 1.40rem;
  margin-top: 60px;
}

.cards {
  margin-bottom: 60px;
}

.no-results {
  margin-top: 60px;
  text-align: center;
}
