<div class="conversation-filter">
  <h1>Messages</h1>

  <div class="conversations-box">
    <ul>
      <%  @user_conversations.each do |conversation| %>
        <li>
          <% if conversation.messages.present? %>
            <%= conversation.messages.last.created_at %>
            <%= link_to conversation.messages.last.body, conversation_path(conversation) %>
            <%#= conversation.messages.last.body %>
          <% else %>
            <p>Currently there is no conversation present</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

