<div class="container">
  <div class="conversation-filter">
    <h1>Messages</h1>
  </div>
  <div class="conversations-box">
    <ul>
      <%  @user_conversations.each do |conversation| %>
        <li>
          <% if conversation.messages.present? %>
            <%= conversation.messages.last.created_at.strftime("%d/%m/%Y") %>
            <%= link_to conversation.messages.last.body, conversation_path(conversation) %>
          <% else %>
            <p>Currently there is no conversation present</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
