<div class="container" id="messages_box">
  <div class="conversation-messages">
    <ul>
      <% @messages.each do |message| %>
        <li>
          <% if message.body %>
            <% user = User.find(message.user_id) %>
            <div><strong><%= user.first_name %></strong> <%= message.created_at.strftime("%d/%m/%Y") %></div>
            <p><%= message.body %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="new_messsage">
    <%= render 'messages/new', message: @message, conversation: @conversation %>
  </div>
</div>
