<div class="container">
  <div class="conversation-messages">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div><strong><%= user.first_name %></strong> <%= message.created_at %></div>
        <p><%= message.body %></p>
      <% end %>
    <% end %>
  </div>
  <div id="new_messsage">
    <%= render 'messages/new', message: @message, conversation: @conversation %>
  </div>
</div>
