<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/2P6Q7_uiDr0);">
<div class="container">
  <h1>Get <strong>help</strong> anytime anywhere!</h1>

</div>
</div>

<div class="container">
  <div class="row featurette top-buffer">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Helpal helps you find support fast and easy</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 700x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">700x500</text></svg>
    </div>
  </div>

  <div class="row featurette top-buffer">
    <div class="col-md-7">
      <h2 class="featurette-heading">Post your request</h2>
      <p class="lead">Posting a request is easy. Pick the category you need help with. Then fill out the due date and your availability and submit your request. Pals will automatically be notified of your request.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 700x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">700x500</text></svg>
    </div>
  </div>

  <div class="row featurette top-buffer">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Connect with your pal</h2>
      <p class="lead">As soon as a pal has accepted your request you will be notified. Go to your inbox and share information safely and make an appointment! with your pal!</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 700x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">700x500</text></svg>
    </div>
  </div>
</div>



