.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.notification {
  position: relative;
  display: inline-block;
  color: $gray;
}

.notification:hover {
  text-decoration: none;
  color:inherit;
}

.badge {
  position: absolute;
  top: 5px;
  right: 3px;
  border-radius: 50%;
  background: red;
  color: red;
  font-size: 6px;
}
