.cards-wrapper {
  margin-bottom: 60px;
}

.cards-wrapper h3 {
margin-top: 60px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 30px;
}

.request-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 20px;
  flex-direction: column;
  align-items: baseline;
  position: relative;
  display: flex;
  height: 280px;
}

.request-card h3 {
  margin-top: 40px;
  height: 64px;
}

.links {
  width: 100%;
  text-align: end;
  position: absolute;
  bottom: 14px;
  right: 14px;
}

.links .details-btn {
  color: $black-text;
  font-weight: bold;
  margin-right: 10px;
}

.links .delete-btn {
  color: $red-cta;
  font-weight: bold;
}

.helper-avatar {
  height: 45px;
  width: 45px;
  position: absolute;
  right: 14px;
  top: 14px;
  border-radius: 50%;
}

.no-results {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.not-assigned {
  margin-top: 24px;
  color: $gray;
  opacity: 0.6;
}

 // Media queries

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
