.cards-wrapper {
  margin-top: 30px;
  margin-bottom: 60px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 30px;
}

.request-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.links .details-btn {
  color: $black-text;
  font-weight: bold;
  margin-right: 10px;
}

.links .delete-btn {
  color: $red-cta;
  font-weight: bold;
}

.rounded-circle .mx-auto .mb-3 {

}

 // Media queries

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
